:root {
    --woocommerce: #{primary};
    --wc-green: #{$green};
    --wc-red: #{$red};
    --wc-orange: #{$orange};
    --wc-blue: #{$blue};
    --wc-primary: #{$primary};
    --wc-primary-text: #{$white};
    --wc-secondary: #{$secondary};
    --wc-secondary-text: #515151;
    --wc-highlight: #{$primary};
    --wc-highligh-text: #{$white};
    --wc-content-bg: #{$white};
    --wc-subtext: #767676;
    --wc-form-border-color: #{$input-border-color};
    --wc-form-border-radius: #{$input-border-radius};
    --wc-form-border-width: #{$input-border-width};

    // --wc-form-color-background: #{$light};
}


.woocommerce-billing-fields,
.woocommerce-shipping-fields,
.woocommerce-additional-fields,
.woocommerce form.checkout_coupon, 
.woocommerce form.login, 
.woocommerce form.register,
#add_payment_method #payment, 
.woocommerce-cart #payment, 
.woocommerce-checkout #payment,
.woocommerce-account-fields,
.woocommerce-Address {
    background-color: $light;
    // border: $card-border-width solid $card-border-color;
    box-shadow: $box-shadow-sm;
    border-radius: $card-border-radius;
    padding: $spacer;
    margin-bottom: $grid-gutter-width;

    h3 {
        font-size: $h5-font-size;
    }

}

.woocommerce table.shop_table {
    border-collapse: collapse;
}


.woocommerce form .form-row {
    margin-bottom: $paragraph-margin-bottom;

    .input-text,
    select {
        padding: $input-padding-y $input-padding-x;
    }

    label {
        margin-bottom: 0;
    }
}

.woocommerce-account {

    .woocommerce-MyAccount-navigation {
		margin-bottom: 2rem;
        background-color: $light;
        padding: $spacer;
        border-radius: $border-radius;
    }

    #page-wrapper,
    #wrapper-breadcrumbs { 
        
        > .container {
            max-width: 1440px;
        }

    }

    @include media-breakpoint-up(md) {

        .woocommerce-MyAccount-content {
            width: calc(100% - 256px - #{$grid-gutter-width});
        }

        .woocommerce-MyAccount-navigation {
            width: 256px;
        }

    }

	.woocommerce-MyAccount-navigation {

        .list-group-item {
            border: 0;
            border-color: $card-border-color;

            &:not(.is-active) {
                background-color: transparent;
            } 
        }

		.list-group-item:last-child {
			background-color: $black;
			color: $white;
			text-align: center;
			margin-top: $spacer;
			transition: $btn-transition;

			&:hover {
				background-color: $dark;
			}
		}

	}

	fieldset {
		margin: $spacer*2 0;
	}

}

.woocommerce tbody button.button {
    @extend .btn-sm;
}

.add-all-to-cart-form {
    clear: both;
}